version: '3'

services:
  api-server:
    container_name: api-server
    depends_on:
      - db
      - redis
    image: ${NCP_CONTAINER_REGISTRY_API}/goalpanzi-api
    ports:
      - "8080:8080"
    environment:
      DB_HOSTNAME: ${DB_HOSTNAME}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      OAUTH_APPLE_CLIENT_ID: ${OAUTH_APPLE_CLIENT_ID}
      JWT_SECRET: ${JWT_SECRET}
      REDIS_HOST: ${REDIS_HOST}
    restart: always
    volumes:
      - ./logs:/logs

  db:
    container_name: db
    image: mysql:8.0
    platform: linux/amd64
    volumes:
      - ./db/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${DB_PORT}:${DB_PORT}

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - 6379:6379