spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:~/test;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
  data:
    redis:
      host: localhost
      port: 6379
  servlet:
    multipart:
      max-file-size: 5MB

jwt:
  secret: ${JWT_SECRET}
  access-token:
    expires-in-days: 1
  refresh-token:
    expires-in-days: 30

springdoc:
  swagger-ui:
    path: /missionmate-docs.html
    query-config-enabled: true
    enabled: true

oauth:
  apple:
    iss: https://appleid.apple.com
    client-id: ${OAUTH_APPLE_CLIENT_ID}

cloud:
  aws:
    credentials:
      access-key: ${OBJECT_STORAGE_ACCESS_KEY_ID}
      secret-key: ${OBJECT_STORAGE_SECRET_KEY}
      bucket: ${OBJECT_STORAGE_BUCKET_NAME}
    region:
      static: ap-southeast-2
      auto: false
    stack:
      auto: false
    s3:
      endpoint: https://kr.object.ncloudstorage.com